*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.header {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: black;
    color: white;
    align-items: center;
}
.h1-header{
    padding: 0 15px;
    color: red;
}
.main{
    background-color: red;
}
.opcoes-img{
    width: 300px;
}
h1, p{
    color: yellow;
}
p{
    font-size: 25px;
}
.mid1, .mid3{
    display: flex;
    justify-content: center;
}
.mid2, .mid4{
    padding-right: 25px;
    text-align: center;
    margin: 20px 0;
}
input{
    border: none;
    border-radius: 7px;
    background-color: black;
    color: red;
    cursor: pointer;
    padding: 25px;
    margin-top: 15px;
    font-size: 25px;
    transition: transform 0.4s;
}
input:hover{
    transform: scale(1.3);
}