body{
    margin: 0;
    padding: 0;
}
.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(112, 1, 1);
    color: white;
}
p{
    margin: 3%;
}
.img1{
    margin-bottom: 2%;
}
.link a, button{
    margin: 8px;
    border: none;
    border-radius: 7px;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
    color: brown;
}
.curiosidade{
    display: block;
    text-align: center;
    background-color: rgb(77, 13, 13);
    padding: 50px;
}
h1{
    margin: 0;
    color: white;
}
.color1{
    color: yellow;
    margin: 0;
    padding-bottom: 15px;
}
.propos{
    display: flex;
    padding: 50px;
    justify-content: center;
    text-align: center;
    background-color: rgb(180, 180, 22);
    font-size: 115%;
}
h2{
    color: red;
}
.mid{
    display: block;
    text-align: center;
    background-color: rgb(77, 13, 13);
    padding: 20px;
}
h3{
    font-size: 200%;
    color: yellow;
    margin: 0;
    padding-bottom: 10px;
}
.items{
    font-size: 150%;
    color: white;
    margin: 0;
    padding-bottom: 10px;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(112, 1, 1);
    padding: 30px;
}
.header a{
    text-decoration: none;
    color: white;
}
.btn1{
    background-color: red;
    padding: 10px;
}
.btn1 a{
    color: yellow;
    text-transform: uppercase;
}