body{
    margin: 0;
}
.main{
    width: 100%;
    height: 100vh;
    background-color: rgb(92, 92, 243)
}
.bottom{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img1{
    width: 30%;
}
.avaliacao{
    display: block;
    text-align: center;
    padding: 20px;
    background-color: blue;
    color: red;
    text-transform: uppercase;
}
.fundo{
    background-color: rgb(92, 92, 243)
}
.img2{
   width: 30%;
   padding: 20px;
}
.mid{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mid2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.preco, .desc{
    background-color: red;
    text-transform: uppercase;
    padding: 3px;
}
.header{
    display: block;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    background-color: blue;
    color: red;
}